.main-container{
    display: block;
}

.amateur-header{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid #485F6E;
}
.header-h1{
    color: white !important;
}

.home-redirect{
    text-align: right !important;
    color: white !important;
    text-transform: uppercase !important;
    font-size: medium !important;
    text-decoration: none !important;
    padding-right: 3rem !important;
}
.home-redirect:hover, home-redirect:active{
    text-decoration: none !important;
}
.nav-header{
    padding-left: 2rem;
}
.nav-header:hover, nav-header:active, nav-header:link,nav-header:visited{
  color:white !important;
  text-decoration:none;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border:0!important;
  border-bottom: none !important;
  outline: none !important;
}
.right-div-header{
    width: 35%;
  display: inline-block;
    text-decoration: none !important;
}
.left-div-header{
    width: 65%;
  display: inline-block;
}
.no-underline:hover, no-underline:active, no-underline:visited{
    text-decoration: none !important;
}
.home-link:hover, home-link:active, home-link:link, home-link-visited{
    text-decoration: none !important;
}

.main-body{
    margin: 3rem;
    padding: 4rem 5rem 4rem 5rem;
    border: thin solid darkgrey;
    border-radius: 20px;
    border-color:#485F6E ;

}

.body-header{
    color: #ff1d58;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 3rem;
    position: relative;
}
.table-title{
    background-color: #20262F !important;
    color: #485F6E;
}
.th{
    font-weight: 200 !important;
}

.table-container{
    overflow-y: scroll;
    height: 20rem;
}

.table-container::-webkit-scrollbar {
  width: 12px;
    background-color: #F5F5F5;
}
.table-container::-webkit-scrollbar-track {
  background: #20262F;
}
.table-container::-webkit-scrollbar-thumb {
  background-color:  #555;
    height: 5rem;
  border-radius: 10px;
  border: 3px solid #20262F;
}
.accordion-title{
    color: white;
    font-size: 20px;
}
.accordion-title:hover, accordion-title:active{
    color: #485F6E !important;
}

.card-style{
    padding: 20px;
    background-color: #20262F !important;
  border: thin solid !important;
    border-radius: 20px !important;
    border-color:#485F6E !important;
    margin-bottom: 1rem;
}

.sport-icon{
  width: 10%;
}
