.left-section {
  padding-top: 8rem;
  padding-left: 2rem;
  width: 35%;
  display: inline-block;
  color: whitesmoke;
}
.right-section {
  width: 65%;
  display: inline-block;
  color: whitesmoke;
}
.container-fluid {
  padding-top: 5px;
}

.light-font{
  font-family: 'Montserrat ExtraLight', sans-serif;
  font-weight: light;
  font-size: large;
}

.h1{
  font-family: 'Montserrat ExtraBold', sans-serif;
  font-weight: bolder;
}
.img-container {
  height: 100%;
  width: 50%;
  padding-top: 8rem;
  padding-left: 150px;
}

.btn{
  margin-top: 3rem ;
  background:#57D7BA !important;
  border: 2px solid #57D7BA !important;
  text-align: center;
  font-weight: bold !important;
  color: #1F242D !important;
  text-transform: uppercase;
  height: 4rem;
  min-width: 25rem;
  border-radius: 10% / 45% !important;
}

.landing-image{
  width: 80%;
}

.modal-header{
  background: #57D7BA;
  color: #20262F;
  font-weight: bold;
  font-size: large;
  border-bottom: none !important;
  text-transform: uppercase;
}

.style-button{
  text-align: center !important;
  margin-left: auto !important;
    margin-right: auto !important;
    width: 8em !important;
  min-width: 10rem;
  height: 3.5rem;
  background-color:#20262F !important;
  color: #20262F !important;
  border: 2px solid #57D7BA !important;
  border-radius: 2px !important;
  color: #57D7BA !important;
}

.modal-footer{
  border: 0 none !important;
}

.block-div{
  text-align: center !important;
  margin-left: auto !important;
    margin-right: auto !important;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.redirect-button{
  background-color:mediumorchid !important;
  color: #20262F !important;
  border: 2px solid mediumorchid !important;
  border-radius: 2px !important;
  border-color: mediumorchid !important;
  border-radius: 20px !important;
  box-shadow: 0 6px blueviolet !important;
  text-transform: uppercase !important;
  margin: 2rem !important;

}
.redirect-button:active{
  border: 2px solid mediumorchid !important;
  outline: 0 !important;
  border-style:none !important;
  border-color: mediumorchid !important;

}
.a{
  color: mediumorchid !important;
}

.right-div-header{
  text-align: right;
}