.navbar {
  background-color: #20262F;
  letter-spacing: 2px;
  height: 75px;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #485F6E;
}

.nav-header{
  font-size: 1.4rem;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration:none;
  border:0!important;
}

.nav-header:hover, nav-header:active, nav-header:link,nav-header:visited h1{
  color:darkgray !important;
  text-decoration:none;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border:0!important;
  border-bottom: none !important;
  outline: none !important;
}